*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: #e7dfcf;
}

header{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.lista {
    list-style:none;
    display: flex;
    justify-content: space-between;
    

}

.lista li{
    margin: 0px 5px;   
}

.contenido-principal{
    width: 100%;
    display: flex;
    
}

.contenido-principal .columna1{
    flex-basis:0;
    flex-grow: 30;
}
.contenido-principal .columna2{
    flex-basis:0;
    flex-grow: 60;    
}
.contenido-principal .columna2 img{
    width: 70%;
}

.contenido-principal .columna3{
    flex-basis: 0;
    flex-grow: 10;
}
    
p{display: ;
    
}



